@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 2px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }





/* datatables の罫線色を変更する */
table.dataTable {
  border-color: #888888 !important;
}
/* datatables のヘッダ行の色を変更する */
.dataTable thead tr {
  background-color: #DDDDDD !important;
  border-bottom-color: black !important;
}
/* datatables のヘッダ行の色を変更する */
table.dataTable thead tr .dtfc-fixed-left {
  background-color: #DDDDDD !important;
}
/* datatables の行の高さをカスタマイズ */
table.dataTable thead td, table.dataTable tbody td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* datatables の長いカラムの省略用 */
.ellipsis-30 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30rem;
}
/* datatables の長いカラムの省略用 */
.ellipsis-20 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20rem;
}
/* datatables の長いカラムの省略用 */
.ellipsis-10 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10rem;
}

/* datatables の簡易フィルタのラベルとテキストボックスを改行して２段にする */
div.dataTables_wrapper div.dataTables_filter input {
  display: block !important;
  margin-bottom: 20px !important;
}

/* datatables の詳細フィルタ(SearchBuilder)のラベル位置を修正 */
div.dataTables_wrapper div.dtsb-searchBuilder div.dtsb-titleRow div.dtsb-title {
  padding-top: 0px !important;
}
/* datatables の詳細フィルタ(SearchBuilder)のコンテンツ位置を修正 */
div.dtsb-searchBuilder div.dtsb-titleRow {
  height: 10px !important;
}
/* datatables の詳細フィルタ(SearchBuilder)の入力欄の高さを修正 */
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-dropDown, div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria input.dtsb-input {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  padding-left: 0.3em !important;
  margin-right: 2px !important;
  height: 30px !important;
}
/* datatables の詳細フィルタ(SearchBuilder)の [すべての条件をクリア] ボタンの見た目を修正 */
div.dtsb-searchBuilder div.dtsb-titleRow button.btn.dtsb-clearAll.dtsb-button {
  display: none;
}
/* datatables の詳細フィルタ(SearchBuilder)の [条件] 項目の見た目を修正 */
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria {
  margin-bottom: 0px !important;
}
/* datatables の詳細フィルタ(SearchBuilder)の [And][Or] ボタンの見た目を修正 */
div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer {
  min-width: 5em !important;
}
  /* datatables の詳細フィルタ(SearchBuilder)の [And][Or] ボタンの見た目を修正 */
  div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer button.btn.dtsb-logic.dtsb-button {
    padding: 0.4em 0em !important;
  }
/* datatables の詳細フィルタ(SearchBuilder)の [Indent][Delete] ボタンの見た目を修正 */
div.dtsb-searchBuilder div.dtsb-group button.btn.dtsb-button {
  padding: 0.2em 0.5em !important;
}
/* datatables の詳細フィルタ(SearchBuilder)の [条件を追加] ボタンの見た目を修正 */
div.dtsb-searchBuilder div.dtsb-group button.btn.dtsb-add.dtsb-button {
  margin-top: 4px !important;
}


.textbox {
  outline: 1px solid #ccc;
}
  .textbox:focus {
    outline: 2px solid #2196f3;
  }
    .textbox:focus.valid.modified:not([type=checkbox]) {
      outline: 2px solid #2196f3;
    }
  .textbox.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
  }
  .textbox.invalid {
    outline: 2px solid red;
  }
